name: Hello World
on: [push]
jobs:
  Hello-World-Job:
    runs-on:
      - codebuild-githubrunner-${{ github.run_id }}-${{ github.run_attempt }}
    steps:
      - run: echo "Hello World!111 again in 2026-2-16"
      - name: Check runner logs
        run: |
         echo hello111
         echo $date
         echo $pwd
         docker --version
         ifconfig
       #  sudo yum install -y postgresql15
 #        export PGPASSWORD='.tqJ_Rf[?MXLGtyNURC8|sD<_dSd'
  #       psql -h database-1.cnn3mmzdidcf.us-west-1.rds.amazonaws.com -U wei -d postgres -c "CREATE DATABASE mydb2;"
    #     timeout 5 telnet database-1.cnn3mmzdidcf.us-west-1.rds.amazonaws.com 5432 2>&1 | grep -q "Connected" && echo "Connection successful" || echo "Connection failed"
# cd /codebuild/output/src*/src/actions-runner
        # echo wei11
         # cd _diag
         # ls -la
         # cat Runner_*-utc.log
# name: "Hello World OIDC"
        # cat /proc/net/fib_trie | grep -B1 "host LOCAL" | grep -oP '\d+\.\d+\.\d+\.\d+' | grep -v "127.0.0.1" | head -1
# on:
#   workflow_dispatch:

# permissions:
#   id-token: write # Required for OIDC
#   contents: read # Required to check out repo

# jobs:
#   hello-world:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v4 # https://github.com/actions/checkout

#       # - name: Configure AWS credentials via OIDC
#       #   uses: aws-actions/configure-aws-credentials@v4 # https://github.com/aws-actions/configure-aws-credentials
#       #   with:
#       #     role-to-assume: arn:aws:iam::111111111111:role/github-actions
#       #     aws-region: us-west-2
#       - name: Configure AWS Credentials
#         uses: aws-actions/configure-aws-credentials@v4.3.1
#         with:
#           aws-region: us-east-1
#           role-to-assume: arn:aws:iam::483464263436:role/githubaction_oidc
#           role-session-name: MySessionName

#       - name: Verify AWS access
#         run: aws s3 ls
